.carrinho__container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    border-radius: 0 0 0 20px;
    width: 330px;
    background: #0F52BA;
}

.carrinho__titulo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    margin: 1em 0;
    color: #fff;
}

.carrinho__titulo h2 {
    font-size: 27px;
    font-weight: 700;
    width: 60%;
}

.carrinho__totalbotao{
    position: relative;
}

.carrinho__total{
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 28px;
    color: #fff;
    margin: 32px 16px;

}
.carrinho__total p{
    margin: 0 16px;
}

.carrinho__botao{
    width: 105%;
    height: 65px;
    border-radius: 0 0 0 20px;
    color: #fff;
    background-color: #000;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}